<!DOCTYPE html>
<html lang="en">

<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title>Alert - TorrentHive</title>

  <!-- Iconos -->
  <link rel="stylesheet" href="/lib/icomoon/icomoon.css">

  <!-- Roboto -->
  <link rel="stylesheet" href="/lib/roboto/roboto.css">

  <!-- Materializecss -->
  <link rel="stylesheet" href="/lib/materialize/css/materialize.min.css">

  <!-- Main Css -->
  <link rel="stylesheet" href="/css/main.css">
</head>

<body>
  <div class="loading-page">
    <div class="loading-info">
      <!-- <h3 class="logo-text">TorrentHive</h3> -->
      <div class="logo-holder logo-6">
        <a href="#">
          <h3>Torrent <span>Hive</span></h3>
        </a>
      </div>

      <div class="active-loading preloader-wrapper big active">
        <div class="spinner-layer spinner-blue">
          <div class="circle-clipper left">
            <div class="circle"></div>
          </div><div class="gap-patch">
            <div class="circle"></div>
          </div><div class="circle-clipper right">
            <div class="circle"></div>
          </div>
        </div>
  
        <div class="spinner-layer spinner-red">
          <div class="circle-clipper left">
            <div class="circle"></div>
          </div><div class="gap-patch">
            <div class="circle"></div>
          </div><div class="circle-clipper right">
            <div class="circle"></div>
          </div>
        </div>
  
        <div class="spinner-layer spinner-yellow">
          <div class="circle-clipper left">
            <div class="circle"></div>
          </div><div class="gap-patch">
            <div class="circle"></div>
          </div><div class="circle-clipper right">
            <div class="circle"></div>
          </div>
        </div>
  
        <div class="spinner-layer spinner-green">
          <div class="circle-clipper left">
            <div class="circle"></div>
          </div><div class="gap-patch">
            <div class="circle"></div>
          </div><div class="circle-clipper right">
            <div class="circle"></div>
          </div>
        </div>
      </div>

    </div>
  </div>
  <!-- Menu -->
  <%- include('../include/menu.ejs') %>
    <!-- end -->
    <div class="body">
      <div class="container px-1">
        <div class="alerts">
          <% for( let i = 0; i < alerts.length; i++ ) { %>
            <div class="alerts-now z-depth-1 sprt-art">
              <div class="title-alert"><%= alerts[i].title %> - <span class="datetime"><%= alerts[i].date %></span></div>
              <div class="message-alert sprt-art-1"><%= alerts[i].message %></div>
              <% if (alerts[i].data) { %>
                <div class="dataif sprt-art-1">
                  <div class="id-name"><%= alerts[i].data.name %></div>
                  <div class="id-hash"><%= alerts[i].data.infoHash %></div>
                  <div class="had-container">
                    <div class="title-all">Magnet</div>
                    <div class="grp">
                      <input type="text" class="magnet-uri" value="<%= alerts[i].data.magnet %>">
                      <div class="grp-btn icon-content_copy" onclick="kit.copyToClipboard('.magnet-uri')"></div>
                    </div>
                  </div>
                  
                </div>
              <% } %>
              
            </div>
          <% } %>
        </div>
      </div>
    </div>

    <!-- jquery -->
    <script src="/lib/jQuery/jquery.min.js"></script>
    <!-- materialize -->
    <script src="/lib/materialize/js/materialize.min.js"></script>
    <script src="/lib/materialize/js/init.js"></script>

    <!-- pagination -->
    <script src="/js/pagination.materialize.js"></script>

    <!-- Kit -->
    <script src="/js/code.util.kit.js"></script>
    <!-- Main -->
    <script src="/js/main.js"></script>

</body>

</html>